* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
}

:root {
    --primary-color : #001d39;
    --second-color : #0a4174;
    --third-color : #49769f;
    --forth-color : #7bbde8;
    --fifth-color: #bdd8e9;
}